
<div class="title-header">
    <h1>Israel Flights</h1>
    <table style="position:relative;margin-left: auto;margin-right: auto;">
        <th>
            <a id="first_button" href="#" class="btn" style="width:420px;margin-left: auto;margin-right: auto;">
                Flights waiting to take off:&nbsp;<section id="first_button_number">N/A</section>
            </a> 
        </th>
        <th>
            &nbsp;&nbsp;
        </th>
        <th  id="second_button">
            <a id="second_button" href="#" class="btn" style="width:400px;margin-left: auto;margin-right: auto;">
                Flights waiting to land:&nbsp;<section id="second_button_number">N/A</section>
            </a> 
        </th>
    </table>
    
    <script type="text/javascript">
    //let socket;
    //socket = io.connect();
    socket.on('flights', (data) => {
        var data = JSON.parse(data);
        var keys = Object.keys(data);
        let waiting_to_take_off = 0;
        let waiting_to_land = 0;
        //waiting_to_land = keys.length;
        keys.forEach(function (key) {
            if (data[key][0]["landed"] == false) {
                if (data[key][0]["extended_info"]["real_departure_time"] != null) waiting_to_land++;
                else waiting_to_take_off++;
            }
        });
        document.querySelector("#first_button_number").innerText = waiting_to_take_off;
        document.querySelector("#second_button_number").innerText = waiting_to_land;
    });
    </script>
</div>
<!-- <button class="trigger">Click here to trigger the modal!</button> -->