<table style="display: table-cell; vertical-align: middle;">
    <h1>Welcome!</h1>
    <table style="position:relative;margin-left: auto;margin-right: auto;">
        <th>
            <a href="#" class="btn" style="width:420px;margin-left: auto;margin-right: auto;">
                Flights waiting to take off:&nbsp;<span><b>N/A</b></span>
            </a> 
        </th>
        <th>
            &nbsp;&nbsp;
        </th>
        <th>
            <a href="#" class="btn" style="width:400px;margin-left: auto;margin-right: auto;">
                Flights waiting to land:&nbsp;<span><b>N/A</b></span>
            </a> 
        </th>
    </table>
    
    
    <script type="text/javascript">
    //let socket;
    socket = io.connect();
    socket.on('flights', (msg) => {
        //document.querySelector('h1').innerHTML = Object.keys(JSON.parse(msg))
    });
    </script>
</table>