<!-- Source: https://sabe.io/tutorials/how-to-create-modal-popup-box -->

<!-- ---------------------------- First Modal ---------------------------- -->
<!-- <button class="trigger">Click here to trigger the modal!</button> -->
<div class="modal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h1>Hello, I am the first modal!</h1>
    </div>
</div>
</div>
<script>
    const modal = document.querySelector(".modal");
    const trigger = document.querySelector("#first_button");
    const closeButton = document.querySelector(".close-button");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    // trigger.addEventListener("click", toggleModal); // disable the modal
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
</script>

<br>
<!-- ---------------------------- Second Modal ---------------------------- -->
<!-- <button class="trigger">Click here to trigger the modal!</button> -->
<div class="modal" id="second_modal">
    <!-- Modal Header -->
    
    <div class="modal-content">
        
        

        <div class="modal-header" style="width: 100%; display: inline-block;">
            <div style="width: 45%; display: inline-block;">
                <h4 class="modal-title" style="width: 100%; text-align:left">Machine Learning</h4>
            </div>
            <div style="width: 45%; display: inline-block;">
                <span class="close-button" id = "second-close-button">&times;</span>
            </div>
          </div>

        
        <!-- <h1 id="secondModalContent">Hello, I am the second modal!</h1> -->
        <div class="modal-table-content">
            <div id="secondModalContent"></div>
        </div>
        
    </div>
</div>
<script>
    const secondModal = document.querySelector("#second_modal");
    // const trigger = document.querySelector(".trigger");
    const secondTrigger = document.querySelector("#second_button");
    const secondCloseButton = document.querySelector("#second-close-button");
    function secondToggleModal() {
        secondModal.classList.toggle("show-modal");
    }
    function secondWindowOnClick(event) {
        if (event.target === secondModal) {
            secondToggleModal();
        }
    }
    secondTrigger.addEventListener("click", secondToggleModal);
    secondCloseButton.addEventListener("click", secondToggleModal);
    window.addEventListener("click", secondWindowOnClick);
</script>


    <script type="text/javascript">
    //let socket;
    socket = io.connect();
    socket.on('learningResult', (data) => {
        //console.log(data);

        var HTML = "<table border=1 width=100% align=center>";
        HTML += "<tr><td align=center>"+"<b>Flight ID</b>"+"</td>"
            + "<td align=center>"+"<b>Arrival Prediction</b>"+"</td></tr>";
        for (const [key, value] of Object.entries(JSON.parse(data))) {
            HTML += "<tr><td align=center>"+key+"</td>"
                + "<td align=center>"+value+"</td></tr>";
        }
        HTML += "</table>";

        document.querySelector("#secondModalContent").innerHTML= HTML;

        //document.querySelector("#secondModalContent").innerText = JSON.parse(JSON.stringify(data));
    });
    </script>

<!-- --------------------------------------------------------------- -->