
<div>
    <!-- <script type="text/javascript">
    //let socket;
    //socket = io.connect();
    socket.on('flights', (data) => {
        var data = JSON.parse(data);
        var keys = Object.keys(data);
        let waiting_to_take_off = 0;
        let waiting_to_land = 0;
        //waiting_to_land = keys.length;
        keys.forEach(function (key) {
            if (data[key][0]["landed"] == false) {
                if (data[key][0]["extended_info"]["real_departure_time"] != null) waiting_to_land++;
                else waiting_to_take_off++;
            }
        });
        document.querySelector("#first_button_number").innerText = waiting_to_take_off;
        document.querySelector("#second_button_number").innerText = waiting_to_land;
    });
    </script> -->
</div>
<!-- <button class="trigger">Click here to trigger the modal!</button> -->