@font-face {
  font-family: "mainFont";
  src: url("Rubik-Bold.ttf");
}
@font-face {
  font-family: "secondayFont";
  src: url("Rubik-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    width: 100vw;
    height: 100%;
    /* background: #242424; */
    background: #222222;
    /* background-image: linear-gradient(90deg, #363636 0%, #242424 35%, #0e0e0e 100%); */
    /* background-image: url("background.jpg"); */
    /* background-image: url("white.jpg"); */
    background-size: 110% 110%;
    background-position: center center;
    animation: shrink 5s infinite alternate;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "mainFont";
    font-size: 16px;
    overflow: auto;
  }
  @keyframes shrink {
    0% {
      background-size: 110% 110%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
  
  body {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: center;
    align-content: center;
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
	/* width: 100%; */
    overflow: auto;
  }

  .title-header {
    display:block;
    height: 155px; 
    width: 100%; 
    /* background:rgb(29, 26, 26);  */
    /* background: #042031;  */
    background-image: url("banner.jpg");
    /* background-size: 110% 110%; */
    /* background-position: center center; */
    /* animation: shrink 5s infinite alternate; */
    /* background:rgb(26, 28, 36);   */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* @keyframes shrink {
    0% {
      background-size: 110%;
    }
    100% {
      background-size: 100%;
    }
  } */

  .sub-title-header {
    display:block;
    height: 35px;
    width: 100%; 
    /* background:rgb(29, 26, 26);  */
    /* background: #000;  */
    /* background-image: url("000.jpg"); */
    /* background: #2d4f6b;   */
    /* background: #030303; */
    background: #eeeeee;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .clock-view {
    width: 100%;
    height:35px;
    line-height: 35px; /* same as height! */
    color: #121313;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
  }

  .map-container {
    height: 100%; 
    display:flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .map-side {
    width: 480px; 
    display: table-cell; 
    align-items: center;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
  }

  .nav-bar {
    position: absolute;
    width: 100%;
    height: 135px;
    left: 69px;
    top: 17px;
    filter: brightness(100%);
}
  
h1 {
    /* color: #f1c40f; */
    color: #ffffff;
    font-size: 4.1rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    margin-block-start: 0em;
    padding-top: 0.59em;
    margin-block-end: 0em;
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
  }

  h4 {
    color: #ffffff;
    font-size: 1rem;
    /* text-transform: uppercase; */
    display: block;
    width: 100%;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0em;
  }
  
  p {
    color: #f1c40f;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  

/*  
    Button Style:

    Source: https://webdeasy.de/en/top-css-buttons-en/

    //Colours
    $green: #2ecc71;
    $red: #e74c3c;
    $blue: #3498db;
    $yellow: #f1c40f;
    $purple: #8e44ad;
    $turquoise: #1abc9c;
*/

  .btn, btn:after {
    box-sizing: border-box;
    text-align: center;
    appearance: none;
    background-color: transparent;
    /* border: 2px solid #f1c40f; */
    border: 2px solid #dbdbdb;
    background-color: #dddcdc;
    /* border: 2px solid #f1c40f; */
    border-radius: 0.2em;
    /* border-radius: 0.6em; */
    /* color: #f1c40f; */
    color: #242424;
    cursor: pointer;
    display: flex;
    /* display:table; */
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "mainFont";
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

  /* .btn:hover, .btn:focus */

  .btn:hover {
    color: rgb(0, 0, 0);
    outline: 0;
    box-shadow: 0 0 40px 40px #f1c40f inset;
  }

.map {
    /* border-radius: 25px; */
    /* border-radius: 5px; */
    border-radius: 1px;
    /* border: 1px solid #bebebe; */
    box-shadow:0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    /* background: #73AD21; */
    /* https://stackoverflow.com/questions/3714862/forcing-child-to-obey-parents-curved-borders-in-css */
    overflow: hidden;
    position:relative; 
    max-width: 1000px;
    max-height: 600px;
    /* width:1000px; */
    /* height:600px; */
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

/* --------------------- Modal style --------------------- */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-header {
  /* background-color: #d8af09; */
  background-color: #d8af09;
  /* padding:16px 16px; */
  padding:4% 4%;
  color:#FFF;
  border-bottom:2px dashed #3a3007;
}

.modal-title {
  color: #000;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0em;
}

.modal-content {
    position: absolute;
    /* max-height: 20%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* padding: 1rem 1.5rem; */
    width: 24rem;
    border-radius: 0.5rem;
    /* add scrollbar */
    overflow: hidden;
    /* overflow-y: scroll; */
}

.modal-table-content {
  top: 50%;
  left: 50%;
  padding: 1rem 1.5rem;
  /* add scrollbar */
  overflow: visible;
  overflow-y: scroll;
  /* set max-height to the window height less 50px */
  max-height: calc( 100vh - 100px );
}

.close-button {
    color: #000;
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* ------------------- END Modal style ------------------- */

/* ------------------- keep indent for second line in ordered lists via CSS ------------------- */
/* https://stackoverflow.com/questions/10428720/how-to-keep-indent-for-second-line-in-ordered-lists-via-css */
ol,li {
  margin: 0;
  padding: 0;
}

ol {
  counter-reset: foo;
  display: table;
}

li {
  list-style: none;
  font-size: 8; 
  counter-increment: foo;
  display: table-row;
}

li::before {
  content: counter(foo) ".";
  display: table-cell;
  text-align: left;
  /* padding-left: .3em; */
}
/* ------------------- END keep indent for second line in ordered lists via CSS ------------------- */