<!DOCTYPE html>
<html>

<head style="vertical-align: middle; width:100%;">
    <title>Israel Flights</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript">
    let socket = io();
    </script>
    <body style="width:100%; height: 100%;">
        <!-- display: table-cell;  -->
    <!-- include socket
    <%- include("parts/socket"); %> -->

    <!-- include header -->
    <%- include("parts/header"); %>

    <!-- include map -->
    <%- include("parts/map"); %>

    <!-- include modals -->
    <%- include("parts/modals"); %>
    </body>
    
</head>

</html>