<!DOCTYPE html>
<html>

<head style="vertical-align: middle; width:100%;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript">
    let socket;
    </script>
    <body style="display: table-cell; vertical-align: middle; width:100%;">
    <!-- include socket
    <%- include("parts/socket"); %> -->

    <!-- include header -->
    <%- include("parts/header"); %>

    <!-- include map -->
    <%- include("parts/map"); %>

    <!-- include modals -->
    <%- include("parts/modals"); %>
    </body>
    
</head>

</html>