<!DOCTYPE html>
<!--
    https://www.bingmapsportal.com/Application#    
    https://www.bing.com/api/maps/sdk/mapcontrol/isdk/loadmapasync#JS
    https://docs.microsoft.com/en-us/bingmaps/v8-web-control/map-control-concepts/pushpins/custom-image-pushpin-example    
    https://www.bigdatacloud.com/geocoding-apis
-->
<html>

<head>
    <title></title>
    <meta charset="utf-8" />

    <!-- Reference to the Bing Maps SDK -->
    <script type='text/javascript'
        src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Av1tVjvviT_3a3JIBRJZNPhFNKHiCTqGL9C5rD7uAAVU2KFgx16V3NjFP58VCBvk'
        async defer></script>

    <script type="text/javascript">

        var map = null;
        function setMap() {
            // Initialize the map - USE YOUR OWN KEY !
            map = new Microsoft.Maps.Map(document.getElementById("myMap"), { credentials: "Av1tVjvviT_3a3JIBRJZNPhFNKHiCTqGL9C5rD7uAAVU2KFgx16V3NjFP58VCBvk" });
			map.setView({
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            center: new Microsoft.Maps.Location(33.027222, 32.0225),
            zoom: 6
        });
        }
    </script>

    <script type='text/javascript'>
		// rotation
		// source: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/02de6b85-ee3d-4780-a4fd-3b944f0fc1b4/rotate-custom-image-pushpin?forum=bingmapsajax
		 function createRotatedImagePushpin(location, url, rotationAngle, callback) {
			var img = new Image();
			img.onload = function () {
				var c = document.createElement('canvas');

				var rotationAngleRads = rotationAngle * Math.PI / 180;

			   //Calculate rotated image size.
				c.width = Math.abs(Math.ceil(img.width * Math.cos(rotationAngleRads) + img.height * Math.sin(rotationAngleRads)));
				c.height = Math.abs(Math.ceil(img.width * Math.sin(rotationAngleRads) + img.height * Math.cos(rotationAngleRads)));

				var context = c.getContext('2d');

				//Move to the center of the canvas.
				context.translate(c.width / 2, c.height / 2);

				//Rotate the canvas to the specified angle in degrees.
				context.rotate(rotationAngleRads);

				//Draw the image, since the context is rotated, the image will be rotated also.
				context.drawImage(img, -img.width / 2, -img.height / 2);

				var pin = new Microsoft.Maps.Pushpin(location, {
					//Generate a base64 image URL from the canvas.
					icon: c.toDataURL(),
					anchor: new Microsoft.Maps.Point(c.width / 2, c.height / 2) //Anchor to center of image.
				});

				if (callback) {
					callback(pin);
				}
			};

			//Allow cross domain image editting.
			img.crossOrigin = 'anonymous';
			img.src = url;
		}
		// end rotation
		
        function add()
        {
            var loc1 = new Microsoft.Maps.Location(37.983810,23.727539);
            var loc2 = new Microsoft.Maps.Location(32.817280,34.988762);
            var loc3 = new Microsoft.Maps.Location(30.044420, 31.235712);
            var loc4 = new Microsoft.Maps.Location(35.0, 30.0);
          
            // Add a pin to the map
            var pin1 = new Microsoft.Maps.Pushpin(loc1);
            var pin2 = new Microsoft.Maps.Pushpin(loc2);
            var pin3 = new Microsoft.Maps.Pushpin(loc3);
            
            pin4 = new Microsoft.Maps.Pushpin(loc4, {
                icon: 'airplane.png',
                anchor: new Microsoft.Maps.Point(10, 10)
            });
           
            // Create a polyline
            var lineVertices = new Array(loc1, loc2);
            var line = new Microsoft.Maps.Polyline(lineVertices);

            //map.setView({ center: loc2, zoom: 4 });

            map.entities.push(line);
            map.entities.push(pin1);
            map.entities.push(pin2);
            map.entities.push(pin3);
            map.entities.push(pin4);
			createRotatedImagePushpin(map.getCenter(), 'airplane.png', 45, function (pin) {
				map.entities.push(pin);
			});
			
			//setTimeout(function(){
			//	map.entities.clear();
			//}, 1000);
			//delay(5000).then(() => map.entities.clear());
        }
        function move() {
            for (var i = map.entities.getLength() - 1; i >= 0; i--) {
                var pushpin = map.entities.get(i);
                if (pushpin instanceof Microsoft.Maps.Pushpin) {
                    map.entities.removeAt(i);
                }
            }
        }       
       
		
		
    </script>
</head>

<body onload="setMap()">
    <div id="myMap" style="position:relative;width:1000px;height:600px;"></div>
    <input type="button" onclick="add()" value="הוסף אייקונים" />
    <input type="button" onclick="move()" value="הסר אייקונים" />
</body>
</body>


</html>